.pagination {
  float: right;
  .page-link {
    color: #007bff;
    cursor: pointer;
  }
  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  .page-link:hover {
    background-color: #dee2e6;
    border-color: #dee2e6;
  }
}

.nav-tabs {
  .nav-item {
    cursor: pointer;
  }
}
.table {
  tr {
    cursor: pointer;
  }
}
label {
  font-size: 15px !important;
  letter-spacing: 0.02em !important;
}

.backgroud__white {
  background-color: #fff;
}
.form-builder-overlay {
  z-index: 9999 !important;
}

.form-builder-dialog {
  z-index: 9999 !important;
}
.fb-editor {
  width: 100%;
}

.form-check-input {
  position: unset;
  margin: 0;
}
.check__box {
  span {
    font-size: 13px;
    margin-left: 10px;
  }
}

.cardCustom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  .cardItems {
    margin-top: 5px;
    p {
      cursor: context-menu;
      margin: 0;
      font-size: 12px;
      padding-bottom: 5px;
    }
  }
}

.block__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rstcustom__rowLabel::first-letter {
  text-transform: capitalize;
}

.table thead th::first-letter {
  text-transform: capitalize;
}

.ck-editor__editable p {
  min-height: 100px;
}

.form-img {
  display: flex;
  align-items: center;
  .block_image {
    width: 110px;
    cursor: pointer;
    border: 1px solid #d2d6de;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .input_wapper {
    display: flex;
    justify-content: space-between;
    div {
      margin: 0 1rem;
    }
  }
}

.btnBlock-remove {
  display: flex;
  justify-content: flex-end;
}

.listBlock {
  .list-group-item {
    cursor: pointer;
  }
}
.folder {
  .name {
    a {
      svg {
        margin-right: 10px;
      }
    }
  }
}

.file {
  .name {
    a {
      svg {
        margin-right: 10px;
      }
    }
  }
}
