.green{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #37bc9b;
  }
  .dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #f53a0b;
  }